---

---

<section id="hero" class="bg-bg-hero bg-cover bg-center">
  <div class="container-central h-full pt-10 text-white">
    <h1 class="font-roboto p-10 text-3xl text-center font-bold drop-shadow-md">
      Gestoria de Ciudadanias y Pasaportes, Españoles e Italianos
    </h1>

    <div class="mt-8 p-8 text-xl text-center">
      <h2 class="font-roboto drop-shadow-md">
        ¿Estas tratando de tramitar tu ciudadanía
      </h2>
      <div class="font-roboto text-2xl font-bold drop-shadow-md text-white">
        <p>Española o Italiana?</p>
      </div>
      <p class="font-roboto text-xl font-bold mt-8">
        Nosotros te podemos facilitar todo el proceso
      </p>
    </div>
  </div>
</section>
<style></style>
