---
import Image from "astro/components/Image.astro";
import Img from "/public/Us.jpg";
---

<section
  id="Us"
  class="h-full bg-primary text-center border-solid border-black border-t-2 border-b-4 drop-shadow-lg shadow-lg"
>
  <div class="container-central flex flex-col items-center justify-center py-3">
    <h2 class="font-roboto font-bold text-xl text-white p-3">
      ¿Quienes Somos?
    </h2>
    <Image
      src={Img}
      alt="Foto de los creadores de RMG Ciudadanias"
      class="max-w-xs py-2 drop-shadow-md"
    />
    <p class="px-8 py-2 text-white">
      En RMG Ciudadanías somos Agustina y Fernando, apasionados por ayudar a
      otros a reconectar con sus raíces. Descendemos de europeos, y nuestra
      historia comenzó cuando tramitamos nuestras propias ciudadanías. Lo que
      aprendimos en ese proceso lo transformamos en este proyecto que tanto
      amamos, con el objetivo de acompañarte paso a paso, resolver tus dudas y
      hacer que todo sea más simple y llevadero.
    </p>
    <p class="px-8 py-2 text-white">
      Sabemos que cada caso es único, y lo tratamos como propio. Nos encanta
      sumergirnos en las historias familiares, buscar esos documentos tan
      importantes y ser parte de este momento tan especial. Porque para
      nosotros, esto no es solo un trámite: es un puente hacia tus raíces, una
      conexión con tus orígenes y el inicio de un mundo lleno de nuevas
      oportunidades.
    </p>
  </div>
</section>
