---

---

<section id="servicios">
  <div class="container-central text-center py-3">
    <h2 class="font-roboto font-bold text-xl p-3">
      ¿En que te podemos ayudar?
    </h2>
    <p class="px-8 py-2">
      En RMG Ciudadanías, ofrecemos un acompañamiento integral para que el
      proceso de obtener tu ciudadanía sea simple y organizado.
    </p>
    <p class="font-bold text-lg px-8 py-2">Nuestros servicios incluyen:</p>
    <div
      class="mx-8 my-2 border-solid border-black border-2 border-b-4 drop-shadow-lg shadow-lg h-44"
    >
      <h3 class="font-roboto font-bold text-lg drop-shadow-lg p-2 text-primary">
        Armado de Carpetas para ciudadanía Española e Italiana
      </h3>
      <p class="font-roboto p-4">
        Nos encargamos de preparar toda la documentación necesaria para que tu
        trámite sea exitoso.
      </p>
    </div>
    <div
      class="mx-8 my-2 border-solid border-black border-2 border-b-4 drop-shadow-lg shadow-lg h-44"
    >
      <h3 class="font-roboto font-bold text-lg drop-shadow-lg p-2 text-primary">
        Búsqueda y apostillado de Actas
      </h3>
      <p class="font-roboto p-4">
        Localizamos esos documentos que parecen imposibles de encontrar y
        gestionamos su apostillado para que cumplan con los requisitos legales.
      </p>
    </div>
    <div
      class="mx-8 my-2 border-solid border-black border-2 border-b-4 drop-shadow-lg shadow-lg h-44"
    >
      <h3 class="font-roboto font-bold text-lg drop-shadow-lg p-2 text-primary">
        Preparación de Formularios Consulares
      </h3>
      <p class="font-roboto p-4">
        Te ayudamos a completar correctamente los formularios y anexos
        requeridos por los consulados.
      </p>
    </div>
    <div
      class="mx-8 my-2 border-solid border-black border-2 border-b-4 drop-shadow-lg shadow-lg h-44"
    >
      <h3 class="font-roboto font-bold text-lg drop-shadow-lg p-2 text-primary">
        Gestión de Pasaporte y Renovaciones
      </h3>
      <p class="font-roboto p-4">
        Te asistimos en la obtención de tu pasaporte o su renovación, asegurando
        un proceso ágil y sin contratiempos.
      </p>
    </div>
    <button
      class="my-4 p-3 bg-secondary font-bold text-white text-lg drop-shadow-lg shadow-lg"
    >
      Contactanos para mas Info
    </button>
  </div>
</section>
