---

---

<section id="footer" class="bg-secondary text-white">
  <div
    class="container-central py-2 px-8 flex flex-col items-center justify-center"
  >
    <div class="font-bold px-10 text-center text-sm">
      <ul>
        <li class="p-1">Home</li>
        <li class="p-1">Nosotros</li>
        <li class="p-1">Servicios</li>
        <li class="p-1">Contacto</li>
      </ul>
    </div>
  </div>
</section>
