---
import Logo from "../../public/rmgSF-compact.png"
import Image from "astro/components/Image.astro"
---

<section id="footer" class="bg-darkbg text-white/70 h-[200px] flex justify-between px-8">
  
    <div class="font-semibold text-sm p-4">
      <ul>
        <li class="p-1 hover:text-gold">- Home</li>
        <li class="p-1 hover:text-gold">- Nosotros</li>
        <li class="p-1 hover:text-gold">- Servicios</li>
        <li class="p-1 hover:text-gold">- Contacto</li>
      </ul>
    </div>
    <div>
      
        <a class="" href="#up">
          <Image src={Logo} alt="Logo de RMG Ciudadanias" class="max-w-48 p-2" />
        </a>
      
    </div>
  
</section>
