---
import HeaderContact from "../components/HeaderContact.astro";
import HeaderNav from "../components/HeaderNav.astro";
---

<section class="" id="up">
  <!-- <HeaderContact /> -->
  <HeaderNav />
</section>
