---
import Hero from "../components/Hero.astro";
import Review from "../components/Review.astro";
import Us from "../components/InfoNosotros.astro";
import Servicios from "../components/Servicios.astro";
import Contacto from "../components/Contacto.astro";
import WhatsappButtom from "../components/WhatsappButtom.astro";
---

<section id="main" class="flex flex-col">
  <Hero />
  <Review />
  <Us />
  <Servicios />
  <Contacto />
</section>
<WhatsappButtom />
